* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body {
  background: radial-gradient(circle at 30% 40%, #00ffb2, transparent 40%),
              radial-gradient(circle at 60% 40%, #00ccff, transparent 50%),
              radial-gradient(circle at 80% 60%, #002f4e, transparent 50%),
              radial-gradient(circle at 50% 60%, #0b0b0b, #0b0b0b 70%);
  background-color: #000; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}


#header {
  width: 100%;
  background-color: #1E1E1E;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#textPago{
  color: white;
}

#logo {
  height: 50px;
}

#nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#payment {
  display: flex;
  align-items: center;
  gap: 10px;
}

#payment-icon {
  width: 30px;
}

/* Contenedor principal */
#rental-container {
  background-color: #1E1E1E;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 40px auto; /* Centrar horizontalmente y dar espacio arriba */
  display: flex;
  justify-content: center; /* Alinear elementos en el centro horizontalmente */
  align-items: center; /* Alinear verticalmente */
}

/* Contenido de la renta */
#rental-content {
  display: flex;
  justify-content: space-around; /* Mejor distribución entre las dos tarjetas */
  align-items: center;
  gap: 40px; /* Separación entre las dos tarjetas */
}

#movie-info {
  flex: 1;
  padding-right: 20px;
}

#poster {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Formulario de renta */
#rental-form {
  flex: 1;
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Ajustar el ancho completo disponible */
  max-width: 500px; /* Establecer un ancho máximo mayor */
}

h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
}

input::placeholder {
  color: #bbb;
}

#rental-summary {
  background-color: #ffffff;
  color: black;
  padding: 15px;
  border-radius: 10px;
}

h3 {
  margin: 5px 0;
}

/* Estilos del botón */
button {
  padding: 10px 20px;
  background-color: #00cc66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #00cc66;
}
