/* src/app/login/login.component.css */
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body {
  background: radial-gradient(circle at 30% 40%, #00ffb2, transparent 40%),
              radial-gradient(circle at 60% 40%, #00ccff, transparent 50%),
              radial-gradient(circle at 80% 60%, #002f4e, transparent 50%),
              radial-gradient(circle at 50% 60%, #0b0b0b, #0b0b0b 70%);
  background-color: #000; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #1E1E1E; /* Fondo oscuro para el formulario */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  width: 300px;
}

.form-group {
  margin-bottom: 20px; /* Espaciado más grande para los grupos de formulario */
}

label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #c0c0c0;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #444; /* Color de fondo oscuro para entradas */
  color: white; /* Texto en blanco */
}

input::placeholder {
  color: #bbb; /* Placeholder en gris claro */
}

button {
  padding: 10px 20px;
  background-color: #00cc66; /* Color del botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Margen superior para el botón */
  width: 100%; /* Botón ocupa todo el ancho */
}

button:hover {
  background-color: #009955; /* Color del botón al pasar el mouse */
}

#historial-section {
  margin-top: 20px;
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#historial-title {
  color: #ffffff;
  margin-bottom: 15px;
}

.section-table {
  margin-top: 10px;
}

.table-style {
  width: 100%;
  border-collapse: collapse;
}

.table-style th,
.table-style td {
  padding: 12px 15px;
  border: 1px solid #444;
}

.table-style th {
  background-color: #444;
}

.table-style td {
  background-color: #2b2b2b;
  text-align: left;
}

.table-style tr:hover {
  background-color: #555;
}

.mensaje-guardado {
  color: #4caf50; /* Verde para el mensaje de éxito */
  margin-top: 10px;
  text-align: center;
}
